In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/tmp/ipykernel_18515/1020607637.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
#Load the CSV for the Cancer Data
cancer= pd.read_csv('https://raw.githubusercontent.com/SaqifTahmid/Cancer-Prediction/main/cancerrate.csv')
print(cancer)

                                     Area  Year   Case
0    Abbotsford-Mission, British Columbia  2003  408.5
1    Abbotsford-Mission, British Columbia  2004  402.4
2    Abbotsford-Mission, British Columbia  2005  417.8
3    Abbotsford-Mission, British Columbia  2006  421.9
4    Abbotsford-Mission, British Columbia  2007  446.2
..                                    ...   ...    ...
450                    Winnipeg, Manitoba  2011  517.2
451                    Winnipeg, Manitoba  2012  511.0
452                    Winnipeg, Manitoba  2013  506.4
453                    Winnipeg, Manitoba  2014  497.9
454                    Winnipeg, Manitoba  2015  494.2

[455 rows x 3 columns]

In [5]:
cancer.head()

                   Area  Year   Case
450  Winnipeg, Manitoba  2011  517.2
451  Winnipeg, Manitoba  2012  511.0
452  Winnipeg, Manitoba  2013  506.4
453  Winnipeg, Manitoba  2014  497.9
454  Winnipeg, Manitoba  2015  494.2

In [6]:
cancer.tail()

                   Area  Year   Case
450  Winnipeg, Manitoba  2011  517.2
451  Winnipeg, Manitoba  2012  511.0
452  Winnipeg, Manitoba  2013  506.4
453  Winnipeg, Manitoba  2014  497.9
454  Winnipeg, Manitoba  2015  494.2